<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="javascripts/js.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
</head>

<body>
  <h1>yeah</h1>
  <img src="" alt="">
  <button>Nuevo Gif</button>

  <hr>
  <br>
  <a href="/favoritos"><button style="display: none;" class="favoritos">IR A GIFS FAVORITOS </button></a>
  <ul class="all">
    
  </ul>

  <hr>
  <br>

  <form action="/">
    <span>Ingresa el gif</span>
    <input class="search" type="search">
    <span>Cantidad de gifs</span>
    <input class="cantidad" type="number" name="searches">
    <button class="new" type="">ENVIAR</button>
  </form>
  <h1 class="buscados"></h1>
  <ul class="ul2">

  </ul>
  
</body>

</html>